<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   @entryPointStyles('app')
   @entryPointScripts('app')
   <title>
      {{ title }}
   </title>
</head>
<body>

   <header>
      <div class="header-container">
         <a href="/" class="logo">Tasking App</a>
   
         <div class="menu">
            
         </div>
      </div>
   </header>

   @!section('body')
</body>
</html>